Cython
setuptools-scm
pip
setuptools==54.1.2
pyarrow==2.0.0
psycopg2
pandas==1.2.3
requests
beautifulsoup4
lxml
html5lib
apache-airflow-backport-providers-amazon
sagemaker
apache-airflow-backport-providers-postgres
apache-airflow-backport-providers-neo4j
apache-airflow-backport-providers-google
datetime
tweepy
apache-airflow-providers-apache-spark==1.0.1
pyspark>=3.1.1
nest-asyncio
pushshift.py
pushshift-comment-export
nltk
vaderSentiment==3.3.2
textblob==0.15.3
py2neo